/* =======
    imports
    ======= */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  font-size: 16px;
  --primary-color: #74c0ff;
  --primary-color-light: #f7fbff;
  --transition-medium: all 100ms linear;
  --transition-fast: all 50ms linear;
}

/* =======
    Global styles
    ======= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #000;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

.navbar,
.nav-links,
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background: none;
  border: none;
  transition: var(--transition-fast);
  border-radius: 5px;
  box-shadow: 0 0 3px #000;
}

.btn:active {
  scale: 0.95;
}

/* =======
    Navbar styles
    ======= */

.header {
  height: 70px;
  background-color: var(--primary-color);
}

.navbar {
  width: 90%;
  margin: auto;
  height: 100%;
}

.logo {
  width: 80px;
}

.nav-links {
  display: none;
}

.nav-links li {
  margin: 0 0.5rem;
}

.nav-links li a {
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
}
.nav-links li a:hover {
  background-color: var(--primary-color-light);
}

.ham-btn {
  font-size: 2rem;
  padding: 0.2rem;
}

.sm-screen-links {
  width: 100%;
  /* height: 150px; */
  position: relative;
  transform: translateY(-200%);
  transition: var(--transition-medium);
  z-index: 2;
}
.sm-screen-links-show {
  transform: translateY(0);
}

.sm-screen-links::before {
  content: "";
  position: absolute;
  z-index: 0;
  background: none;
  backdrop-filter: blur(8px);
  height: 100%;
  width: 100%;
}

.nav-links-sm {
  padding: 0.5rem 1rem;
  position: relative;
}

.nav-links-sm li a {
  font-size: 1.3rem;
}

/* =======
    Landing page styles
    ======= */

.landing-page {
  height: calc(100vh - 70px);
  background: url("./assets/landing-page-background.png") no-repeat fixed
    center/cover;
}

.landing-page-content {
  padding: 0.5rem 0;
  height: 80%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.landing-img {
  width: 100%;
  max-width: 500px;
  position: relative;
  /* z-index: -2; */
}

.notations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-page-btn {
  background-color: var(--primary-color);
  padding: 0.3rem 0.8rem;
  font-size: 1.1rem;
}

/* =======
    University section
    ======= */

.university-section {
  min-height: 80vh;
  background-color: var(--primary-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.university-content-section {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.university-card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.university-card {
  width: 100%;
  max-width: 300px;
  box-shadow: 0 0 3px #000;
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  margin: 0.5rem;
}

.university-img {
  width: 100%;
}

.university-desc {
  font-size: 0.8rem;
}

.university-card-btn {
  background-color: var(--primary-color);
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}

/* =======
    Contact section
    ======= */

.contact-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form h2,
.contact-form p {
  text-align: center;
}
.contact-form p {
  font-size: 0.8rem;
}

.contact-form {
  box-shadow: 0 0 5px #3b3b3b;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 450px;
  margin: auto;
  padding: 1rem 0.5rem;
}

.input-box {
  box-shadow: 0 0 3px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem 0;
  font-size: 1.3rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
}

.input-box input {
  width: 92%;
  border: none;
  outline: none;
}

.textarea-box {
  align-items: flex-start;
  justify-content: space-between;
}
.textarea-box textarea {
  border: none;
  outline: none;
  resize: none;
  width: 92%;
}

.form-btn {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =======
    Footer styles
    ======= */

.footer {
  text-align: center;
  background-color: #0c0d1a;
  padding: 1rem;
}

.footer p {
  color: var(--primary-color-light);
}

/* =======
    Loading styles
    ======= */

.loading-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =======
    Media queries
    ======= */

.papers-section {
  border: 2px solid black;
  min-height: calc(100vh - 70px);
  padding: 0.5rem;
}

.filter-section,
.papers {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section {
  border: 2px solid red;
}

/* =======
    Media queries
    ======= */

@media screen and (min-width: 576px) {
  .nav-links {
    display: flex;
  }

  .ham-btn {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .landing-page-content {
    flex-direction: row-reverse;
  }
  .notations {
    align-items: flex-start;
    text-align: left;
  }

  .notations h1 {
    font-size: 2.5rem;
  }
}
