/* =======
    imports
    ======= */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');


:root {
  font-size: 16px;
  --primary-color: #4f46e5;
  --secondary-color: #a5b4fc;
  --primary-text-color: #f7fbff;

  --transition-slow: all 300ms linear;
  --transition-medium: all 100ms linear;
  --transition-fast: all 50ms linear;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

/* =======
    Global styles
    ======= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #000;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

.navbar,
.nav-links,
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background: none;
  border: none;
  transition: var(--transition-fast);
  border-radius: 5px;
  color: var(--primary-text-color);
}

.btn:active {
  scale: 0.95;
}

/* =======
    Navbar styles
    ======= */

.header {
  height: 70px;
  background-color: var(--primary-color);
}

.navbar {
  width: 90%;
  margin: auto;
  height: 100%;
}

.logo {
  width: 60px;
  margin-top: .3rem;
}

.nav-links {
  display: none;
}

.nav-links li {
  margin: 0 0.5rem;
}

.nav-links li a {
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  color: var(--primary-text-color);
  opacity: .6;
}
.nav-links li a:hover {
  opacity: 1;
}


.ham-btn {
  font-size: 2rem;
  margin: 0 .3rem;
  color: var(--primary-text-color);
}

.ham-btn:active{
  transform: rotate(50deg);
}

.ham-btn path {
  color: #fff;
}

.popUP-box {
  width: 100%;
  position: relative;
  transition: var(--transition-slow);
  visibility: hidden;
  z-index: 2;
  border-radius: 4px;
  height: 0;
  opacity: 0;
}
.popUP-box-show {
  opacity: 1;
  visibility: visible;
  display: block;
}



.nav-links-sm {
  position: absolute;
  right: 0;
  padding: 1rem 1rem;
  margin: .3rem .5rem;
  width: 70%;
  box-shadow: 1px 1px 4px ;
  border-radius: 5px;
  background-color: #bedaff;
}

.nav-icons{
  display: flex;
  align-items: center;
}

.nav-icon{
  margin-right: 10px;
  font-size: 1.5rem;
}

.nav-arrow path{
  color: #797979;
}

.nav-links-sm li {
  display: flex;
  align-items: center;
  margin: .5rem 0;
}

.nav-links-sm li a {
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem ;
  border-radius: 5px;
  opacity: .5;
}

.nav-links-sm li a:active{
  opacity: 1;
}

.ham-login{
  display: flex;
}

.login-btn{
  border: 1px solid var(--primary-text-color);
  padding: .1rem .8rem;
  font-size: 1rem;
  margin: 0 .5rem;
  cursor: pointer;
}

.login-btn:hover{
  background-color: #fff;
  color: var(--primary-color);
}

.profile_group_btn{
  display: flex;
  justify-content: space-between;
  padding: .35rem .4rem;
  position: relative;
}

.profile_btn_group_border{
  border: 1px solid #8f96fe;
}

.profile_btn_group_border::after{
  content: '';
  border: 1px solid black;
  width: 10px;
  height: 10px;
  border: 1px solid #8f96fe;
  border-top: transparent;
  border-left: transparent;
  position: absolute;
  left: 40%;
  bottom: -6px;
  transform: rotate(45deg);
  background-color: var(--primary-color);
}



.profile_btn{
  position: relative;
  border: 1.5px solid var(--primary-text-color);
  border-radius: 50%;
  font-size: 1.2rem;
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  background-color: #e5d446; 
  color: #0c0d1abc;
}

.popUp-modal-content{
  position: absolute;
  right: 1%;
  padding: .2rem 0;
  margin: .3rem .5rem;
  width: fit-content;
  box-shadow: 0px 0px 4px ;
  border-radius: 5px;
  background-color: #bedaff;
  font-size: .9rem;
}

.popUp-modal-head{
  margin: .3rem .5rem;
  display: flex;
  align-items: center;
}

.popUp-modal-links{
  border-bottom: 1px solid #000;
}


.popUp-modal-link{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: .5rem .85rem;
  transition: var(--transition-medium);
}
.popUp-modal-link:hover{
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}


.profile_btn_popUp{
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1rem;
  margin-right: .3rem;
}

.popUp_modal_icon{
  margin-right: .6rem;
  font-size: 1.1rem;
}

.popUp_modal_icon path{
  color: inherit;
}


.logOut-btn{
  width: 100%;
  font-size: .8rem;
  text-align: left;
}

.profile_imgBox{
  display: flex;
  place-content: center;
}

.profile_img{
  width: 7rem;
  height: 7rem;
  border: 1px solid var(--primary-color);
  font-size: 3rem;
  box-shadow: 0 0 7px  var(--primary-color);
}

/* =======
    Log in component style
    ======= */

.form-section{
  min-height: calc(100vh - 70px);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/PPW\ form\ bg\ enhanced.png') center no-repeat fixed;
  background-size: cover;
  position: relative;
}

.form-section::before,.form-section::after{
  content: '';
  background: url('./assets/form_bg_props.webp') center no-repeat;
  background-size: 100% 100%;
  opacity: .3;
  position: absolute;
  width: 150px;
  height: 150px;
}

.form-section::before{
  right: 5%;
  top:5%;
}
.form-section::after{
  left: 5%;
  bottom:3%;
}

.form{
  box-shadow: 0 0 10px .1px #00000031;
  padding: 2.5rem 1rem;
  border-radius: 4px;
  width: 100%;
  margin: 1rem 1rem;
  max-width: 500px;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  position: relative;
  background: url('./assets/form_fill_bg.webp') top no-repeat;
  background-size: 100% clamp(200px, 100%, 1980px);
}



.form-main{
  display: flex;
  flex-direction: column;
}

.form-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #676767;
  margin: .5rem 0;
}

.form-label > span {
  color: #676767;
}
.form-label > span:hover {
  color: #676767;
}

.form-inp{
  margin-bottom: 1rem;
  padding: .8rem 1rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid #000;
  border-radius: 4px;
  width: 100%;
}

.form-inp::placeholder{
  color: #42424265;
}

.form_forgot_password_btn{
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}
.form_forgot_password_btn:hover{
  color: #676767;
}

.form-inp:focus{
  border: 1px solid var(--primary-color);
}

.form-inp-disabled{
  color: #8d8d8d;
  border: 1px solid #a5a5a5;
}

.form-inp-disabled:focus{
  border: 1px solid #a5a5a5;

}

.form_heading{
  color: #000;
  margin-bottom: .75rem;
}

.form_heading > h2{
  margin-bottom: .25rem;
}

.form-btn{
  background-color: var(--primary-color);
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

}

.form_notation_btn{
  color: var(--primary-color);
  margin: 0 2px;
}

.form-notation{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* =======
    Welcome screen styles
    ======= */

.welcome-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: +3;
}

.welcome-box {
  height: 350px;
  width: 90%;
  max-width: 300px;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 0 4px 1px var(--primary-color);
  background-color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.welcome-box > h1 {
  color: var(--primary-color);
}

.welcomeBox-btn {
  border: 2px solid var(--primary-color);
  background-color: #cfd1ff;
  color: #000;
  width: 90%;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-screen-hide {
  display: none;
}

/* =======
    Landing page styles
    ======= */

.landing-page {
  height: calc(100vh - 70px);
  background-color: #d3e4fada;
}

.landing-page::before {
  content: '';
  position: absolute;
  background: url('./assets/landing-page-background.webp') no-repeat
    center/cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

.landing-page-content {
  padding: 0.5rem 0;
  height: 80%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.landing-img {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.notations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-page-btn {
  background-color: var(--primary-color);
  padding: 0.3rem 0.8rem;
  font-size: 1.1rem;
}

/* =======
    University section
    ======= */

.university-section {
  min-height: 100vh;
  background-color: var(--primary-text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.university-content-section {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  height: 90vh;
}

.university-content-section > h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--primary-color);
  text-align: center;
}

.university-content-section > hr {
  width: 40%;
  border: 2px solid var(--primary-color);
}

.university-card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.university-card {
  width: 100%;
  max-width: 300px;
  box-shadow: 0 0 4px 0.25px var(--primary-color);
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  margin: 0.5rem;
}

.university-img {
  width: 100%;
}

.university-desc {
  font-size: 0.8rem;
}

.university-card-btn {
  background-color: var(--primary-color);
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}

/* =======
    Contact section
    ======= */

.contact-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}


.form-partition {
  padding: 0.3rem;
  margin: 0.2rem 0;
  border-radius: 3px;
  width: 100%;
}

.form-partition > legend {
  font-size: 0.8rem;
}



.form-label {
  font-size: 0.9rem;
  color: #676767;
  width: 100%;
  display: flex;
  align-items: center;
}

.inp {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border: none;
  outline: none;
  background-color: #d3e4fa;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 0.6rem;
}

.msg-inp {
  resize: none;
}

.inp::placeholder {
  opacity: 0.4;
  font-size: 0.9rem;
}

.inp:focus {
  box-shadow: 0 0 3px var(--primary-color);
}

.textarea-box {
  align-items: flex-start;
  justify-content: space-between;
}
.textarea-box textarea {
  border: none;
  outline: none;
  resize: none;
  width: 92%;
}

.contact-form-btn {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =======
    Earn styles
    ======= */
.contribute-section {
  padding: 1rem 0;
}

.check-label {
  margin-bottom: 0.5rem;
  justify-content: flex-start;
}

.tnc_check {
  margin: 0 0.5rem;
  height: 15px;
  width: 15px;
}

.paperInput {
  display: none;
}

.contribute-btn{
  background-color: #8f96fe;
  color: #000;
}

/* =======
    Footer styles
    ======= */

.about-section {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background: url('./assets/curved_bg.webp') center fixed no-repeat;
  background-size: 150% 100%;
  background-blend-mode: darken;
}

.about-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  border-radius: 4px;
  margin: 0.5rem 0;
}

.about-box > h1 {
  color: var(--primary-color);
  font-size: 2rem;
  padding: 0.5rem;
}

.about-creator-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-creator-card {
  background-color: #b9bdff;
  padding: 0.5rem;
  width: 250px;
  margin: 0.5rem;
  border-radius: 4px;
}

.about-creator-card > img {
  display: block;
  width: 100%;
  border-radius: inherit;
}

.about-card-btn {
  font-size: 2rem;
  margin: auto;
  display: inline-block;
}

.about-card-btn path {
  color: var(--primary-color);
}

.credits-list {
  font-size: 1.5rem;
}

.credits-list > li > a:hover {
  text-decoration: underline;
}

/* =======
    Footer styles
    ======= */

.footer {
  text-align: center;
  background-color: #0c0d1a;
  padding: 1rem;
}

.footer p {
  color: var(--primary-text-color);
}

.footer-contact-link {
  color: #fff;
  text-decoration: underline;
}

/* =======
    Loading styles
    ======= */

.loading-container {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 150px;
  height: 150px;
  font-weight: bold;
  border-radius: 50%;
  position: relative;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading::before,
.loading::after {
  content: '';
  border: 15px solid transparent;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.loading::before {
  border-left-color: var(--primary-color);
  animation: rotate 1s infinite linear;
}

.loading::after {
  border-right-color: #00ddffb5;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* =======
    Paper section styles
    ======= */

.papers-section {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: url('./assets/PPW\ form\ bg\ enhanced.png') center no-repeat fixed;
  background-size: cover;
}


.toggleSidebar-btn {
  position: absolute;
  top: 6rem;
  left: 1%;
  padding: 0.3rem 0.3rem;
  background-color: var(--secondary-color);
  font-size: 2rem;
  margin: 0.3rem 0;
  z-index: 2;
}

.filter-sidebar {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--secondary-color);
  transition: var(--transition-medium);
  min-width: none;
  transform: translateX(-100%);
  padding: 0.3rem;
  z-index: 3;
}

.filter-sidebar-show {
  transform: translateX(0);
}

.filter-sidebar > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  height: 50px;
  border-bottom: 1px solid #000;
}

.sidebar-btn {
  font-size: 2rem;
}

.filter-content {
  height: calc(100vh - 100px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filter-sidebar-section {
  width: 95%;
  margin: 0.3rem auto;
  box-shadow: 0 0 3px #000;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: var(--primary-color);
  transition: var(--transition-medium);
}

.filter-sidebar-section > h3 {
  color: var(--primary-text-color);
}

.sidebar-action-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 7vh;
  border-top: 1px solid #000;
}

.clearFilter-btn {
  background-color: var(--primary-color);
}

.content {
  margin: 0.5rem auto;
  width: 95%;
  border-radius: 5px;
  box-shadow: 0 0 3px #000;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.3rem;
  background-color: #fff;
}

.highlight {
  background-color: #badbcc;
}

.filter-checkbox {
  border: 2px solid black;
}

.sidebar-action-btns {
  display: flex;
  align-items: center;
}

.sidebar-action-btn {
  padding: 0.3rem 0.5rem;
}

.applyFilter-btn {
  background-color: var(--primary-color);
}

.papers-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.papers-box > h1 {
  font-size: 2rem;
  margin: 0.5rem auto;
  text-align: center;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #ffffff5a;
  backdrop-filter: blur(5px);
}

.papers {
  width: 95%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  flex-wrap: wrap;
  transition: var(--transition-medium);
}

.paper-card {
  border-radius: 5px;
  box-shadow: 0 0 2px 0.5px var(--primary-color);
  width: 100%;
  height: 350px;
  max-width: 250px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.paper-card-img {
  width: 100%;
  height: 55%;
  border-radius: 5px 5px 0 0;
  background-color: var(--secondary-color);
}

.paper-card-img-bar {
  background-color: #000;
  height: 1px;
  margin: 15px auto;
  width: 80%;
}

.paper-card-img-bar:nth-child(2n) {
  width: 70%;
}

.paper-details {
  width: 100%;
  height: 45%;
  border-radius: 0 0 5px 5px;
  padding: 0 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.subject-title {
  font-size: 1rem;
}

.paper-details > p {
  font-size: 0.8rem;
}

.paper-card-btn {
  width: 95%;
  margin: auto;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.scrollUp-btn {
  position: fixed;
  right: 2.5%;
  top: 87%;
  font-size: 3rem;
  margin: 1rem 0;
  box-shadow: 0 0 4px #ff0000;
  border-radius: 50%;
}

.scrollUp-btn path {
  color: #1b1e33;
}

/* =======
    Error component styles
    ======= */

.error-page {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.error-page-btn {
  background-color: var(--primary-color);
  padding: 0.3rem 0.5rem;
}

/* =======
    Media queries
    ======= */

@media screen and (min-width: 576px) {
  .navbar {
    flex-direction: row;
  }

  .nav-links {
    display: flex;
  }

  .ham-btn {
    display: none;
  }

  .nav-links-sm{
    display: none;
  }

  .university-content-section > h1 {
    font-size: 2.5rem;
  }

  .paper-card-btn {
    padding: 0.2rem;
  }

  .filter-sidebar {
    width: 20%;
    position: absolute;
    min-width: 300px;
    top: 0;
  }

  .filter-sidebar-show {
    position: sticky;
  }

  .papers-box {
    width: calc(100% - 300px);
    transition: var(--transition-medium);
  }

  .papers-box-full-width {
    width: 100%;
  }

  .filter-content {
    overflow-y: auto;
  }

  .contact-form h1 {
    font-size: 2rem;
  }

  .contact-form {
    width: 400px;
  }

  .contact-form-main {
    width: 90%;
  }

  .about-section{
    background-size: 100% 100%;
  }

  .about-box > h1 {
    font-size: 2.5rem;
  }

  .credits-list {
    font-size: 1.2rem;
  }

  .login-btn{
    padding: .3rem .8rem;
  }

  
}

@media screen and (min-width: 900px) {
  .landing-page-content {
    flex-direction: row-reverse;
    height: 100%;
  }
  .notations {
    align-items: flex-start;
    text-align: left;
  }

  .notations h1 {
    font-size: 2.5rem;
  }
}
